@CHARSET "UTF-8";
.isys_visitor_posts {
	font-size:1.25em;
	padding:0 0 15px 0;
}

.isys_visitor_posts input[type="text"], .isys_visitor_posts textarea, .isys_visitor_posts select {
	font-size:1em;	
}

.isys_visitor_posts  form, .isys_visitor_posts  .row {
	display:inline-block;
	width:100%;
}

.isys_visitor_posts label {
	display:inline-block;
	float:left;
	width:100%;
	margin:5px 0;
	padding:0;
}

.isys_visitor_posts label span, .isys_visitor_posts label input, .isys_visitor_posts label textarea, .isys_visitor_posts label select, .isys_visitor_posts label .field {
	display:inline-block;
	float:left;
	margin:0;
	padding:5px 0;
}


.isys_visitor_posts label input, .isys_visitor_posts label textarea, .isys_visitor_posts label .field {
	width:100%;
	float:left;
}

.isys_visitor_posts label select {
	width:50%;
	clear:both;
}

.isys_visitor_posts input[type="reset"], .isys_visitor_posts input[type="submit"], .isys_visitor_posts input[type="button"] {
	width:auto;
	float:right;
	padding:3px 10px;
	font-family: Gill Sans W02,Arial,sans-serif;
}

.isys_visitor_posts .attachments .field {
	border: 1px solid #CCC;
	min-height:20px;
}

.isys_visitor_posts .progress {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	width:0;
	float:left;
	display:inline-block;
	padding:5px 0;
	background:#70b040;
	text-align:center;
	color:#000;
}

.isys_visitor_posts .errorBox, .infoBox {
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	width:100%;
	float:left;
	display:inline-block;	
}

.errorBox {
	color:#f00;
}

.post-vote {
	cursor:pointer;
	width:54px;
	height:24px;
	display:inline-block;
	color:#fff;
	padding:3px 0 0 8px;
	text-align:left;
}

.post-vote:hover {
	text-decoration:none;
	color:#fff;
}

.vote-up {
	background:url(images/sprite.png) 0 0 scroll no-repeat transparent;
}

.isys_visitor_posts .public-category-item {
	width:33%;
	display:inline-block;
	margin: 10px 0px;
	text-align:center;
	float:left;
	padding: 0;
	height:260px;
}

.isys_visitor_posts .public-category-image {
	background:center center scroll no-repeat transparent;
	width:75%;
	display:inline-block;
	float:left;
	margin:0;
	padding:0;
	height:180px;
}

.isys_visitor_posts .public-category-name {
	font-size:1.25em;
	display:inline-block;
	margin:10px 10px 0 0;
	float:left;
	width:90%;
	font-weight:bold;
	text-align:left;
	font-family: Gill Sans W02,Arial,sans-serif;
}

.isys-half {
	float:left;
	display:inline-block;
	width:230px;
}

#isys_visitor_post_form {
	display:inline-block;
	width:100%;
}

.isys_visitor_posts .search-form {
	font-family: Gill Sans W02 Light,Arial,sans-serif;
	float:right;
	width:300px;
	height:65px;
	background:url(images/sprite.png) 0 -60px scroll no-repeat transparent;
}

.isys_visitor_posts .search-form input[type="text"] {
	font-family: Gill Sans W02 Light,Arial,sans-serif;
	font-weight:bold;
	width:255px;
	border:0 none;
	margin:1px 0 0 45px;
	background:transparent;
	padding:6px 0;
	height:27px;
	color:#000;
}

.isys_visitor_posts .isys-main {
	float:left;
	display:inline-block;
}

.isys_visitor_posts .widget-area .container {
	text-transform:uppercase;
	border-top:5px solid #c3c3c3;
	padding:10px 0 45px 0;
}

.isys_visitor_posts .widget-area .container .textwidget {
	color:#6d6d6d;
}

.isys_visitor_posts .post-item {
	padding:20px 0 0 0;
	border-bottom:4px solid #c3c3c3;
	border-top:1px solid #c3c3c3;
}

.isys_visitor_posts .isys-black-link {
	weight:900;
	color:#fff;
	padding:5px 10px;
	display:inline-block;
	background:#000;
	margin:0 0 20px 0;
	font-family:Gill Sans W02 Light;
}

.isys_visitor_posts .isys-leftbar {
	text-align:center;
	width:55px;
	display:inline-block;
	float:left;
	margin:-20px 15px 0 0;
}
.isys_visitor_posts .isys-leftbar strong {
	color:#d92b82;
	padding:5px 0;
	display:block;
	font-weight:900;
}

.isys_visitor_posts .favourite_box {
	margin:15px 0 0 0;
	display:inline-block;
	width:47px;
	height:86px;
	background:url(images/sprite.png) 0 -130px scroll no-repeat transparent;
}

.isys_visitor_posts .isys-comment {
	padding:5px 0;
	float:left;
}

.isys_visitor_posts .isys-comment .isys-comment-header {
	border-top:1px solid #9a9a9a;
	border-bottom:1px solid #9a9a9a;
	display:block;
	padding:5px 0;
	text-transform:uppercase;
}

.isys_visitor_posts .isys-comment .isys-comment-content {
	display:block;
	padding:10px 0 20px 0;	
}

.isys_visitor_posts .isys-comment .isys-comment-header .comment-ip {
	color:#c3c3c3;
}

.isys_visitor_posts .isys-attachments-count {
	color:#9a9a9a;
	text-align:left;
	width:78px;
	height:39px;
	float:right;
	display:inline-block;
	background:url(images/sprite.png) 0 -350px scroll no-repeat transparent;
}

.isys_visitor_posts .isys-attachments-count span {
	display:inline-block;
	width:30px;
	text-align:right;
	weight:900;
}

.isys_visitor_posts .isys-company-logo {
	display:inline-block;
	max-width:250px;
	float:right;
}

#isys_visitor_comment_form input[type="text"], #isys_visitor_comment_form textarea {
	background-color:#e1e1e1;
	border:1px solid #e1e1e1;
	color:#000;
}

#isys_visitor_comment_form input[type="submit"] {
	float:left;
}

.isys_visitor_posts .pdf_link {
	display:inline-block;
	width:50px;
	height:65px;
	background:url(images/sprite.png) 0 -230px scroll no-repeat transparent;
}

.isys_visitor_posts .sixoften {
	display:inline-block;
	float:left;
	width:60%;
}

.isys_visitor_posts .fouroften {
	display:inline-block;
	float:right;
	width:40%;
}

.isys_visitor_posts .likes-count {
	padding-bottom: 0px;
}